@import "tailwindcss";
@source "../../../apps/**/*.{html,ts}";
@source "../../../libs/**/*.{html,ts}";

@theme {
  --color-app-primary: oklch(58.5% 0.233 277.117);      /* indigo-500 */
  --color-app-secondary: oklch(62.3% 0.214 259.815);    /* blue-500 */

  --color-app-bg: oklch(96.7% 0.003 264.542);

  --color-font-primary: oklch(21% 0.034 264.665);     /* gray-900 */
  --color-font-secondary: oklch(44.6% 0.03 256.802);  /* gray-600 */
  --color-font-accent: oklch(43.8% 0.218 303.724);   /* purple-500 */

  --color-success: oklch(69.6% 0.17 162.48);  /* emerald-500 */
  --color-danger: oklch(64.5% 0.246 16.439);  /* rose-500 */
}

@layer base {
  button:disabled {
    @apply
    opacity-50
    cursor-not-allowed
    pointer-events-none;
  }

  select:not(:disabled) {
    @apply
    cursor-pointer;
  }
}

@layer components {
  .btn-primary {
    @apply
    w-full
    rounded-lg
    border
    border-[var(--color-app-primary)]
    bg-[var(--color-app-primary)]
    px-6
    py-2
    text-sm
    font-medium
    text-white
    transition;
  }

  .btn-primary:not(:disabled) {
    @apply
    cursor-pointer;
  }

  .btn-primary:not(:disabled):hover {
    @apply
    bg-[var(--color-app-secondary)]
    border-[var(--color-app-secondary)];
  }

  .btn-primary:not(:disabled):focus-visible {
    @apply
    outline-none
    ring-2
    ring-[var(--color-font-secondary)];
  }


  .btn-secondary {
    @apply
    w-full
    rounded-lg
    border
    border-gray-200
    px-4
    py-2
    text-sm
    font-medium
    text-[var(--color-app-primary)]
    transition;
  }

  .btn-secondary:not(:disabled) {
    @apply
    cursor-pointer;
  }

  .btn-secondary:not(:disabled):hover {
    @apply
    border-[var(--color-app-secondary)];
  }

  .btn-secondary:not(:disabled):focus-visible {
    @apply
    outline-none
    ring-2
    ring-[var(--color-font-secondary)];
  }

  .form-control {
    @apply
    flex
    flex-col
    gap-1;
  }

  .form-control-field {
    @apply
    rounded-md
    border
    border-gray-300
    px-3
    py-2
    text-sm
    focus:outline-none
    focus-visible:ring-2
    focus-visible:ring-indigo-500;
  }

  .form-control-label {
    @apply
    text-sm
    font-medium
    text-gray-700;
  }

  .form-control-error {
    @apply
    text-sm
    text-red-600;
  }

  .icon-button {
    @apply
    p-2
    rounded-md
    hover:bg-gray-200
    cursor-pointer
    focus-visible:bg-gray-100
    focus-visible:ring-2
    focus:outline-none
    transition;
  }

  .card {
    @apply
    cursor-pointer
    rounded-xl
    bg-white
    p-6
    shadow-sm
    transition;
  }

  .card:hover {
    @apply
    -translate-y-0.5
    shadow-md;
  }

  .card:focus {
    @apply
    outline-none;
  }

  .card:focus-visible {
    @apply
    ring-2
    ring-indigo-500;
  }

  .badge-validated {
    @apply
    rounded-full
    bg-green-200
    px-2
    py-0.5
    text-xs
    text-green-600
  }

  .badge-pending {
    @apply
    rounded-full
    bg-gray-200
    px-2
    py-0.5
    text-xs
    text-gray-600
  }

  .page-title {
    @apply
    text-2xl
    font-semibold
    text-[var(--color-font-primary)]
  }
}
